

/* navbar */


.navlogo{
    width: 150px;
    height: 100px;
}
.navbar-brand{
    margin-left: 200px;
    
}
.inlog{
    margin-right: 200px;
    color: blue;
}
.inlo{
    color: blue;
}

/* nav hover */
.collapse ul
        {
              list-style: none;
             color: #24ff07;  
        }
        .collapse ul li{
            width: 110px;
        
            
            
            text-align: center;
            line-height: 32px;
            float: left;
        }
        .collapse ul ul{
            display: none;
        }

        .collapse ul li:hover >ul{
            display: block;
            
        }

/* activity */
.actde{
    background-color: rgb(0, 0, 0);
    
    background-color: rgb(255, 254, 254);
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 5% 10%;
    
}
.act1{
    
    width: 25%;
    height: 300px;
    background-image: url("../mumimg/acadmic.jpg");
    max-width: auto;
    background-repeat: no-repeat;
    text-align: center;
}
.act2{
    
    width: 25%;
    height: 300px;
    background-image: url("../mumimg/sport.jpg");
    max-width: auto;
    background-repeat: no-repeat;
    text-align: center;
}
.act3{
    
    text-align: center;
    width: 25%;
    height: 300px;
    background-image: url("../mumimg/activity.jpg");
    max-width: auto;
    background-repeat: no-repeat;
   


}
.act{
    font-weight: 900;
    color: rgb(85, 255, 0);
    width:75%;
    height: 15%;
    text-decoration: uppercase;
    transition: 0.7;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://scontent.fjai1-4.fna.fbcdn.net/v/t39.30808-6/290296701_434085852057614_5223025802462612938_n.jpg?stp=c0.78.304.304a_dst-jpg_p180x540&_nc_cat=111&ccb=1-7&_nc_sid=da31f3&_nc_ohc=nNA8BkS1nIUAX-k-BpW&_nc_ht=scontent.fjai1-4.fna&oh=00_AfCTDUKYl_cvpAaQhf0WfYz2uUBHjfh4YDm8OwnJzS4B1w&oe=645669F2); 
}
.act:hover {
    background: rgb(213, 231, 240);
    color: black;
    box-shadow: 0 0 5px rgb(213, 231, 240),
        0 0 500px rgb(213, 231, 240),
        0 0 500px rgb(213, 231, 240),
        0 0 1000px rgb(213, 231, 240);

}

/* animation */
.act span {
    position: absolute;
    display: block;
}



.act  {
    bottom: -100%;
    left: 0;
    width: 80%;
    height: 15%;
    background: linear-gradient(360deg, transparent, #fbf169 , rgb(243, 243, 89));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    
    100% {
        bottom: 100%;
    }
}
.act  {
    color: rgb(255, 255, 255) ;
 }


/* school discription */
.sdis{
    
    width: 100%;
    height: 450px;
    background-image: url(https://thumbs.dreamstime.com/z/colourful-children-schoolbag-outdoors-field-backpack-school-accessories-154711801.jpg);
    background-repeat: repeat;
}
.abmum{
    margin: 35px 200px;
    color: rgb(70, 235, 111);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.abmumt{
    margin: 1% 10% 7% 10% ;
    font-weight: 900;
    color: rgb(0, 0, 0);
 
}
.abmumo{
   
    color: rgb(128, 235, 70);
    text-align: center;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    
}

/* acadmic class */
#services{
         
    width: 100%;
    height: 593px;
  

    
    
}

.h1{
    
   text-align: center;
   
   margin-top:10%;
}
h1{
    text-align: center;
    
}
.p1{
    
   
    width: 70%;
    margin: 10%;
    
   
}
.redm{
    margin-left:38%;
    background-color: beige;
    color: red;
    width: 30%;
}

.aci{
   
    width: 40%;
    float: left;
    height: 30px;
    margin-top: 40px;
   
}
.aci2{
    
    margin-top: 40px;
    
    width: 60%;
    float: left;

    
   
}

.a{
    
    width:50%;
    margin: auto;
    float: left;

}
.b{
    
    width: 50%;
    float: left;
    margin: auto;
}
.c{
    
    width: 50%;
    margin: auto;
}
.butcls{
    width: 100%;
    height:50px;
    background-color: aqua;
    font-size: larger;
    font-weight: 900;
}
/* map */
.mapd{
    
    width: 100%;
    height: 64vh;
}
.map{
    width: 100%;
}



/* footer */
.container-fluid{
   
    height: 42vh;
    background-image: url(../mumimg/school1.png);

}
.row .col-md-4{
    margin-top: 5%;
    text-align: center;
    font-weight: 900;
    font-size: larger;
    
}
.row .col-md-4 a{
    color: rgb(248, 216, 7);
    text-decoration: none;
    
}
.row .col-md-4 a:hover{
    background-color: rgba(255, 255, 255, 0.588);
    border-radius: 20px ;
    
}
/* student */
.stud{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 60vh;
background-image: url("../mumimg/Screenshot 2023-06-06 202818.png");
max-width: none;
display: flex;
background:linear-gradient(#24ff07);



}
.stud1{
    width: 50%;
    color: rgb(0, 0, 0);
    padding: 10% 10%;
   
}
.stud2{
    width: 50%;
   
    text-align: center;
    font-weight: 900;
    padding: 11% 5% ;
}
/* nav hover */
.item-nav{
    display: none;
}
.nav-link:hover{
    display: grid;
    background-color: #49ff07;
    color: red;
}

















































/* media quarry for mobo dis */

@media only screen  and (max-width:400px) {
.actde{
    
    width: 100%;
    height: auto;
    display: inline-block;
}
.act1{
    width: 97%;
}
.act2{
    width: 97%;
}
.act3{
    width: 97%;
}


/* school discription */

.sdis{
    width: 100%;
    margin-top: 1%;
}
 

}