/* footer */
.container-fluid{
   
    height: 42vh;
    background-image: url(../mumimg/school1.png);

}
.row .col-md-4{
    margin-top: 5%;
    text-align: center;
    font-weight: 900;
    font-size: larger;
    
}
.row .col-md-4 a{
    color: rgb(248, 216, 7);
    text-decoration: none;
    
}
.row .col-md-4 a:hover{
    background-color: rgba(255, 255, 255, 0.588);
    border-radius: 20px ;
    
}
/* nav hover */
.collapse ul
        {
              list-style: none;
             color: #24ff07;  
        }
        .collapse ul li{
            width: 100px;
        
            
            
            text-align: center;
            line-height: 32px;
            float: left;
        }
        .collapse ul ul{
            display: none;
        }

        .collapse ul li:hover >ul{
            display: block;
            
        } 
        .item-nav{
            display: none;
        }
        .nav-link:hover{
            display: grid;
            background-color: #07ffea;
        }
